@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

 * {
    font-family: 'Syne', sans-serif;
}
    /* header */


.custom-logo{
width: 201px;
height: 19px;
top: 31px;
left: 37px;
}
.ast-builder-layout-element .ast-site-identity{
margin-top: 18px;
margin-bottom: 18px;
margin-left: 5px;
}
.ast-container{
    max-width: 1440px; 
}
.site-header{
    z-index:auto ;
}



#ast-hf-menu-1{
font-size: 16px;
font-weight: 400;
text-align: left;
}

#ast-hf-menu-1:hover{
font-size: 13px !important;
font-weight: 700;
text-align: left;
}

.main-navigation ul{
    gap: 60px;
}
#ast-desktop-header{
    width: 1440px;
    height: 80px;
    
}
/* body */

.elementor-10 .elementor-element.elementor-element-8c836a8:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-8c836a8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;

}
    /* footer */

#menu-item-47{
width: 119px;
height: 19px;
top: 20px;
left: 661px;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
}

.boutonbackground{
    border-bottom-left-radius: 40% 10%;
    border-bottom-right-radius: 40% 10%;

}